.board-container {
  display: flex; /* Use flexbox for the container */
  justify-content: space-between; /* Space between the boards */
}

.board {
  width: calc(50% - 10px); /* Each board occupies 50% of the container width with some spacing in between */
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 1px;
  border: 1px solid black;
  
}

.cell, .opponentCell {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; 
}
